body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size 30px;
  color: #fff;
  background-color: #e56c2d;
}

#content {
/*  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-column: repeat(12, 1fr);
  grid-auto-rows: minmax(100, auto); */
  max-width: 600px;
  margin: 0 auto;
}

#header {
   /*grid-column: 1/13; */

  margin: 50px;
  font-size: 50px;
  font-weight: 700;

}

#main {
  /*font-size: 20px;
  grid-column: 4/10; */
  border: 1px;
  border-style: solid;
  border-color: blue;
  border-width: 1px;
  margin: 10px auto;
}


ul {
  list-style-type: none;
}

.deleteButton {
  background-color: #1a1b1c;
  border-style: solid;
  border-color: #1a1b1c;
  border-width: 3px;
  border-radius: 5px;
  color: #fff;
/*  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 50px; */
  float: right;

}

li {
  margin: 10px;
}

input[type=text] {
  padding: 13px;
  border-radius: 5px;
  box-sizing: border-box;
  border-width: 5px;
  border: color: #d7dadc;
  width: 300px;
  margin-top: 50px;

}


#addButton {
  font-size: 17px;
  background-color: #d7dadc;
  border-style: solid;
  border-color: #d7dadc;
  border-width: 5px;
  border-radius: 5px;
  color: #black;
  margin-top: 50px;
  padding: 10px;
}
